<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <a [routerLink]="['/']">
                    <img class="logo" src="./assets/img/logo-color.svg">
                    <span class="title">Eudora Web</span>
                </a>
            </div>
            <div class="desc">Eudora CMS , 亿多瑞餐饮管理系统后台维护管理子系统</div>
        </div>
        <router-outlet></router-outlet>
        <global-footer [links]="links">
            Copyright <i class="anticon anticon-copyright"></i> 2018 <a href="//bj.eudorastation.com/" target="_blank">Eudora</a>出品
        </global-footer>
    </div>
</div>
